<h2 mat-dialog-title>Add Contact Information</h2>

<div mat-dialog-content>
    <!-- <div class="card">
        <div class="card-body"> -->
    <form [formGroup]="contactForm">
        <div class="form-group row justify-content-between">
            <label for="nameControl" class="col-sm-2 col-form-label text-right">Full Name&nbsp;<b
                    style="color:#db0b08;">*</b></label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="nameControl" [ngModel]="model.name" name="name"
                    placeholder="Name" formControlName="name" #name required>
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <label for="emailControl" class="col-sm-2 col-form-label text-right">Email&nbsp;<b
                    style="color:#db0b08;">*</b></label>
            <div class="col-md-10">
                <input type="email" class="form-control" [ngModel]="model.email" name="email"
                    placeholder="Email" formControlName="email" #email required [email]="true">
                <div *ngIf="isEmailExist" class="feedback">
                    Email already exists.
                </div>
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <label for="phoneControl" class="col-sm-2 col-form-label text-right">Telephone&nbsp;<b
                    style="color:#db0b08;">*</b></label>
            <div class="col-md-10">
                <input type="phone" class="form-control" id="phoneControl" [ngModel]="model.phone" name="phone"
                    placeholder="Telephone (eg. 09xxxxxxx)" formControlName="phone" #phone required>
                <div *ngIf="isPhoneExist" class="feedback">
                    Telephone already exists.
                </div>
            </div>
        </div>
        <!-- <div class="form-group row justify-content-between">
                    <div class="col-md-12">
                        <span class="float-right">
                            <button type="button" class="margin-right btn btn-light" (click)="clearData()">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x text-danger" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>&nbsp;<b class="text-danger">Cancel</b>
                            </button>
                            <button type="button" class="margin-right btn btn-success" (click)="onSubmit()"
                                [disabled]="!contactForm.valid">
                                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-file-earmark-check"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                                    <path fill-rule="evenodd"
                                        d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                </svg>&nbsp;<b>Save</b>
                            </button>
                        </span>
                    </div>
                </div> -->
    </form>
    <!-- </div>
    </div> -->
</div>

<div class="float-right" mat-dialog-actions style="margin-top: 40px; margin-bottom: -15px;">
    <!-- Close Button -->
    <button class="margin-right btn btn-light" mat-dialog-close>
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x text-danger" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>&nbsp;<b class="text-danger">Close</b>
    </button>

    <!-- clear Button -->
    <button type="button" class="margin-right btn btn-secondary" (click)="clearData()">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z" />
            <path fill-rule="evenodd"
                d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z" />
        </svg>&nbsp;<b>New</b>
    </button>

    <!-- Save Button -->
    <button type="button" class="margin-right btn btn-success" (click)="onSubmit()" [disabled]="!contactForm.valid">
        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-file-earmark-check" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
            <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
            <path fill-rule="evenodd"
                d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
        </svg>&nbsp;<b>Save</b>
    </button>
</div>

<!-- <pre>{{ contactForm.value | json }}</pre> -->