.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #db0b08;
}

.margin-right {
    margin-right: 5px;
}

.card {
    margin: 0 auto;
    max-width: 70%;
}

.card-body {
    margin: 20px 20px 0 20px;
}

.feedback {
    color: #db0b08;
    font-weight: 500;
}

@media screen and (max-width: 892px) {
    .card {
        margin: 0 auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 419px) {
    .card {
        margin: 0 auto;
        max-width: 100%;
    }
    .mat-dialog-actions button {
        max-width: 100px;
        width: 64px;
        height: 35px;
        font-size: 9px;
    }
    .mat-dialog-actions svg {
        width: 1.3em;
        height: 1.3em;
    }
}
