/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f6f7f9 !important;
}

.layout {
    margin-top: 30px;
}

.form-title {
    margin-bottom: 20px;
}

.button-row {
    margin-bottom: 20px;
}