<div class="container layout">
    <!-- Searching & Contact Add -->
    <div class="form-group row justify-content-between">
        <!-- Searching -->
        <div class="col-md-6">
            <form (ngSubmit)="search()">
                <div class="input-group mb-3">
                    <input type="search" class="form-control" placeholder="Search .." [(ngModel)]="searchValue"
                        name="search" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit" id="button-addon2">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd"
                                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Add New Contact -->
        <div class="col-md-4">
            <button type="button" class="btn btn-success float-right" (click)="openDialog()">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                &nbsp;New Contact
            </button>
        </div>
    </div>

    <!-- No Contact Section -->
    <div class="card" *ngIf="isLoading && !dataList.length">
        <div class="card-body no-contact-card">
            <span>
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                </svg>&nbsp;
                <label class="no-card-font">You have no contacts currently.</label>
            </span>
        </div>
    </div>

    <!-- It is message if you do not run the local server -->
    <div class="card" *ngIf="isServerRun">
        <div class="card-body no-server-card">
            <span>
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill no-server-icon"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                </svg>&nbsp;
                <label class="no-server-font">You need to run the local json server. Run 'npm run mock:server'</label>
            </span>
        </div>
    </div>

    <!--  Contact Lists -->
    <div class="card" *ngFor="let itm of dataList | paginate: { itemsPerPage: pageLimit, currentPage: page, totalItems: totalCount } let index=index">
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-md-8">
                    <h5 class="card-title">{{itm['name']}}</h5>
                    <div class="card-text">
                        <h6 class="card-subtitle mb-2 text-muted">{{itm['email']}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{itm['phone']}}</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="float-right">
                        <!-- Delete Button-->
                        <a href="#myModal" (click)="storeDeleteId(itm.id)" class="margin-right btn btn-light"
                            data-toggle="modal">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash text-danger"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>&nbsp;<span class="text-danger">Delete</span>
                        </a>
                        <!-- Edit Button -->
                        <a (click)="openDialogByID(itm.id)" class="margin-right btn btn-warning">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>&nbsp;Edit
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination Row -->
    <div class="mt-2 form-group row">
        <div class="col-md-12 col-sm-12">
            <div class="float-right">
                <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<!-- <pre>{{ dataList | json }}</pre> -->

<!-- Delete Comfirmation Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <svg style="margin: 18px 0 0 0;" width="3em" height="3em" viewBox="0 0 16 16"
                        class="bi bi-trash text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    #closeAddExpenseModal>&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" (click)="deleteById(comfirmDeleteId)" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>