.margin-right {
	margin-right: 5px;
}

.card .no-contact-card {
	background-color: #c7e8ef;
}
.card .card-body label.no-card-font {
	font-size: 21px;
	font-weight: 550;
	color: #11454b;
}

.bi-exclamation-circle-fill {
	color: #11454b;
}

.card .no-server-card {
	background-color: #f39686;
}
.card .card-body label.no-server-font {
	font-size: 21px;
	font-weight: 550;
	color: #8d0808;
}

.bi-exclamation-circle-fill.no-server-icon {
	color: #8d0808;
}

.my-pagination /deep/ .ngx-pagination .current {
	background: #17a2b8;
}

/* Delete Comfirm Modal-custom CSS */
@media screen and (max-width: 320px) {
	.modal-content {
		width: 76%;
	}
}
.modal-confirm {
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn,
.modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 100px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
	background: #ee3535;
}
/* END */
